/datasets/dataset/
/.venv/
/venv/
.idea
**/__pycache__/
/training_checkpoints/
/best_welltest_model.h5
/evaluation_metrics.json
/my_universal_model.h5
/training_metrics.json
/training_results.png

/class_correlation.png
/class_examples.png

/datasets/
/confusion_matrix_03.png
/confusion_matrix_04.png
/confusion_matrix_05.png
/confusion_matrix_06.png
/confusion_matrix_07.png
/evaluation_metrics_TEST.json
/training_results_03.png
/training_results_04.png
/training_results_05.png
/training_results_06.png
/training_results_07.png
/noize_impact.png
